<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<h2 align="center">Don't be a doughnut. You can't sign up yet. This app doesn't do anything. </h2>
<p align="center">Listen, here, enjoy this in the meantime.</p>
<div align="center"><iframe align="center" width="560" height="315" src="http://www.youtube.com/embed/Of2HU3LGdbo" frameborder="0" allowfullscreen></iframe></div>
